@font-face {
	font-family: "Jost";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Jost-Medium.woff2) format("woff2");
	src: url(../fonts/Jost-Medium.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Jost-Bold.woff2) format("woff2");
	src: url(../fonts/Jost-Bold.woff) format("woff");
	font-display: swap;
}
