body {
	font-family: "Jost";
	font-weight: 500;
	font-size: 13px;
	line-height: 1.2;
	color: $default-color;
}

.container {
	max-width: 1355px;
	padding: 0 15px;
	margin: 0 auto;

	&--big {
		max-width: 1850px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
